@import "_variables.scss";

$light-theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "main-background": $light,
  "text": $dark,
  //"border": #dedede,
  //"hover": #b36762,
  //"footer": #4c6c61,
  //"button": #87635a,
);

$dark-theme-colors: (
  "primary": $secondary-color,
  "secondary": $primary-color,
  "main-background": $dark,
  "text": $light,
  //"primary": #0e4632,
  //"secondary": #f5eeec,
  //"background": #1c1c1c,
  //"text": #e5e5e5,
  //"border": #444444,
  //"hover": #d35400,
  //"footer": #374f47,
  //"button": #44322e,
);


@mixin theme($theme) {
  background-color: map-get($theme, background);
  color: map-get($theme, text);
}
