$light-theme: (
  background: #ffffff,
  text: #000000
);

$dark-theme: (
  background: #000000,
  text: #ffffff
);

@mixin theme($theme) {
  background-color: map-get($theme, background);
  color: map-get($theme, text);
}
