$primary-color: #2593ed;
$secondary-color: #18df6d;
$light: rgb(145, 165, 158);
$dark: #242727;
$font-family: "Poppins", system-ui;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$full: 100%;
