@import "../../styles/_variables";
@import "../../styles/_theme";


footer {
  @include theme($light-theme-colors);
  //background-color: $dark;
  color: $light;
  border-radius: $spacing-medium;
  padding: $spacing-large;
  display: flex;
  width: $full;
  p{
    text-align: center;
    width: 100%;
  };
}

footer.dark-theme {
  @include theme($dark-theme-colors);
}
