<div class="header">
  <ol>
    <p>I am Creator</p>
    <button routerLink="about">about</button>
  </ol>
  <ol>
    <ul>
      <li routerLink="shop">Shop</li>
      <li routerLink="shop/project">Online</li>
      <li routerLink="shop/social">Social</li>
    </ul>
    <ol>
      <button (click)="toggleTheme()">
        <span class="material-symbols-outlined" *ngIf="!isDarkTheme">
          light_mode
        </span>
        <span class="material-symbols-outlined" *ngIf="isDarkTheme">
          dark_mode
        </span>
      </button>
    </ol>
  </ol>
</div>
