@import 'styles/_variables';
@import 'styles/_mixins';
@import "styles/_theme";

//.app-container {
//  @include theme($light-theme-colors);
//}


main {
  flex-direction: column  ;
  background-color: var(--main-background);
  padding: $spacing-medium 20vw;
  gap: $spacing-medium;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;

  .color {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(42, 105, 241, 0.66), rgba(36, 39, 39, 0));
    position: fixed;
    top: -50vh;
    left: -20vw;
    z-index: 1
  }

  .color1 {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, rgba(255, 183, 0, 0.25), rgba(36, 39, 39, 0));
    position: fixed;
    bottom: -50vh;
    right: -20vw;
    z-index: 1;
  }

  .wrapper {
    position: relative;
    z-index: 2;
  }

}

@media screen and (max-width: 768px) {
  main {
    padding: $spacing-small;
  }
}
